includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/mrpunyapal/peststan/extension.neon

parameters:
    paths:
        - src
        - database
        - tests
        - workbench/app
    level: 6
